body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #faf8f6;
    color: #333;
}

header {
    background-color: #9ba59c;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding-left: 20px;
    text-align: left;
    flex-grow: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-item {
    display: none;
}

.carousel-item:first-child {
    display: block;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}


section {
    padding: 20px;
}

footer {
    margin-top:500px;
    padding: 10px;
    background-color: #333;
    color: white;
}
